<!DOCTYPE html>
<html>
<head>
	<title>로그인의 밤</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<h1>로그인의 밤</h1>
	<form method="post">
		<label for="username">학번 입력의 밤:</label>
		<input type="text" id="username" name="username" required>
		<br>
		<label for="password">이름 입력의 밤:</label>
		<input type="password" id="password" name="password" required>
		<br>
		<input type="submit" value="Login">
	</form>
	<p>새로운 사용자이신가요? <a href="/signup">회원가입의 밤으로 이동하기</a></p>
</body>
</html>
