<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title style="font-size: 10px">보고서 작성의 밤</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>보고서 작성의 밤</h1>
  <h2>이번 독서의 밤 활동을 하며, 어떠한 활동을 했는지 일목요연하게 작성해 주세요.</h2> 
  <h2>↓↓ Keywords ↓↓</h2>
  <p>- 느낀 점</p>
  <p>- 책과의 연계성</p>
  <p>- 추후 탐구 활동 및 계획</p>
  <form action="{{ url_for('submit_review') }}" method="post">
    <label for="title">이름 작성의 밤:</label>
    <input type="text" name="title" id="title" required>

    <label for="author">학번 작성의 밤:</label>
    <input type="text" name="author" id="author" required>

    <label for="jemok">책 제목 선택의 밤:</label>
    <select name="jemok" id="jemok">
      <option value="노이즈: 생각의 잡음">노이즈: 생각의 잡음</option>
      <option value="마켓 5.0">마켓 5.0</option>
      <option value="쿠팡은 왜 올림픽 방송을 욕심냈을까">쿠팡은 왜 올림픽 방송을 욕심냈을까</option>
      <option value="4차 산업혁명, 일과 경영을 바꾸다">4차 산업혁명, 일과 경영을 바꾸다</option>
      <option value="악의 마음을 읽는 자들">악의 마음을 읽는 자들</option>
      <option value="인섹타겟돈">인섹타겟돈</option>
      <option value="정의란 무엇인가">정의란 무엇인가</option>
      <option value="세계미래보고서 2055">세계미래보고서 2055</option>
      <option value="미래를 바꾼 아홉가지 알고리즘">미래를 바꾼 아홉가지 알고리즘</option>
      <option value="생명이란 무엇인가">생명이란 무엇인가</option>
    </select>

    <label for="review">보고서 작성의 밤:</label>
    <textarea name="review" id="review" rows="10" required></textarea>

    <input type="submit" value="제출하다">
  </form>
  <form action="/list_page" method="get">
    <button type="submit">보고서 작성 리스트의 밤으로 이동하기</button>
  </form>
</body>
</html>
