<!DOCTYPE html>
<html>
<head>
    <title>회원가입의 밤</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>회원가입의 밤</h1>
    <form method="POST" action="/signup">
        <label for="username">아이디 입력의 밤:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">비밀번호 입력의 밤:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Submit">
    </form>
    <p>이미 계정이 있으신가요? <a href="/">로그인의 밤으로 이동하기</a></a>
</body>
</html>
